<nav class="mb-1 navbar navbar-expand-lg fixed-top  navbar-dark ">
  <div class="navbar-translate">
    <strong><a class="navbar-brand text-white" href="/"> <i class="fa fa-globe"></i><span>NEWS</span> </a></strong>

  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse wrap" id="navbarSupportedContent-333">
    <strong>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/category/business" class="nav-link">Business</a>
        </li>
        <li class="nav-item">
          <a href="/category/entertainment" class="nav-link">Entertainment</a>
        </li>
        <li class="nav-item">
          <a href="/category/general" class="nav-link">General</a>
        </li>
        <li class="nav-item">
          <a href="/category/health" class="nav-link">Health</a>
        </li>
        <li class="nav-item">
          <a href="/category/science" class="nav-link">Science</a>
        </li>
        <li class="nav-item">
          <a href="/category/sports" class="nav-link">Sports</a>
        </li>
        <li class="nav-item">
          <a href="/category/technology" class="nav-link">Technology</a>
        </li>
      </ul>
    </strong>

  </div>
</nav>